.vehicule {
  font: "Nunito", "Helvetica", "sans-serif";
	max-width: 200px;
	margin: 15px auto;
	padding: 16px;
	background: #F7F7F7;
}

.vehicule h1 {
  background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;

}

.btn_style {
  margin-top: 10px;
}

.button_back {
  margin-top: 10px ;

}
