<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.wallpaper.com/main/styles/responsive_1460w_scale/s3/py_dark_shot06_reslow.jpg?itok=Di2z-G8A);">
  <div class="container">
    <h1>Welcome to E-move!</h1>
    <p>For people who like to move it, move it</p>
    <div class="btn btn-flat">
      <%= link_to 'SEE ALL VEHICULES', vehicles_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>

<div class="about">
<h2> "E-move is accelerating the world's transition to sustainable energy with electric cars" </h2>
</div>
