.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding: 10px;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.btn-get {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  height: 3.125rem;
  border: 2px solid #242d3c;
  border-radius: 2px;
  background-color: #242d3c;
  color: #fff;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  padding: 0 2rem;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: middle;
  outline: none!important;
}

.btn-get:hover {
  text-decoration: none;
  color: rgb(204, 203, 203);
}

