.reviews-container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 20px;

  .review {
    display: flex;
  }

  .review-card {
    width: 600px;
  }

  form {
    width: 100%;
    margin-left: 40px;
    padding: 20px 20px;
    border-left: 1px solid black;
  }

  form a {
    display: block-inline;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
